- var d = "M11.073 103.417L87.0115 27.4781V95.5064H102.832V0.583252H7.90891V16.4038H75.9372L-0.00134277 92.3423L11.073 103.417Z"

nav.navigation 
  .navigation__hamburger
    .navigation__hamburger__wrapper
      span.navigation__hamburger__meat
      span.navigation__hamburger__meat
      span.navigation__hamburger__meat

  .navigation__screen 
    ul.navigation__screen__wrapper 
      li.navigation__screen__link Home
        svg.navigation__screen__icon 
          path(d=d fill="#222222")
      li.navigation__screen__link About
        svg.navigation__screen__icon 
          path(d=d fill="#222222")
      li.navigation__screen__link Works
        svg.navigation__screen__icon 
          path(d=d fill="#222222")
      li.navigation__screen__link Live Feed
        svg.navigation__screen__icon 
          path(d=d fill="#222222")
      li.navigation__screen__link Contact Me
        svg.navigation__screen__icon 
          path(d=d fill="#222222")